@model IEnumerable<Forum.Models.QuestionKeywords>

@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}
@{
    ViewBag.Title = "Index Forum Keywords";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

<fieldset>
    <legend>Forum Keywords</legend>
    <br />
    <table style="width: 30%">
        <tr>
            <th>
                <b>Forum Keyword</b>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionKeywordName)
                </td>
                <td>
                    @Ajax.ActionLink("Delete", "Delete", new { id = item.QuestionKeywordId }, new AjaxOptions
                    {
                        Confirm = "Are you sure you wish to delete this Question keyword: " + item.QuestionKeywordName + "? \nRemember that the Questions with this Keyword will also be deleted!",
                        HttpMethod = "Post",
                        OnSuccess = "window.location.reload()"
                    })
                </td>
            </tr>
        }
    </table>
    <br />
    @Html.ActionLink("Back", "Index", "Home")
</fieldset>
