@model IEnumerable<Forum.Models.Messages>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model) 
{
    <div class="message_main">
        <div class="message_float">
            @Html.ActionLink("Edit", "Edit", new { id=item.MessageId }) | @Html.ActionLink("Delete", "Delete", new { id=item.MessageId })
        </div>
        <div>
            <b>UserName</b>
        </div>
        <br />
        <div>
            @Html.DisplayFor(modelItem => item.MessageText)       
            <br /><br />
            <i>
            @Html.DisplayFor(modelItem => item.Date)
            </i>
        </div>
    </div>
}
