@model IEnumerable<Forum.Models.Messages>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model) 
{
    <div style="
         background-color:#FDE075;
         width: 99%;
         height: auto;
         padding: 0.5em;
         float: left;
         margin: 5px 10px 1px 0;
         border: 1px solid #999;
         word-wrap: break-word;
    ">
        <div style="float: right">
            @Html.ActionLink("Edit", "Edit", new { id=item.MessageId }) | @Html.ActionLink("Delete", "Delete", new { id=item.MessageId })
        </div>
        <div>
            <b>UserName</b>
        </div>
        <br />
        <div>
            @Html.DisplayFor(modelItem => item.MessageText)       
            <br /><br />
            <i>
            @Html.DisplayFor(modelItem => item.DateTime)
            </i>
        </div>
    </div>
}
