body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
}

.title {
    width: 800px; /*this moment 815px*/
}
.date {
    width: 100px; /*this moment 141px*/
}
.group {
    width: 100px; /*this moment 75px*/
}
.description {
    width: 0; /*this moment 260px*/
}
.vote {
    width: 30px; /*this moment 41px*/
}
.delete {
    width: 100px; /*this moment 88px*/
}

th{
    border: 2px solid black;
}

td {
    border: 1px solid grey;
    border-left: 2px solid black;
    padding: 0 0.5em 0 0.5em;
}

a,
a:hover,
a:visited,
a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

.link {
    font-weight: bold;
    font-size: 1.2em;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
