@model Forum.Models.Questions
@{
    ViewBag.Title = "Read Description";
}

<fieldset>
    <legend>Description</legend>
    <br />
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionDescription)
    </div>
</fieldset>

    @{
    bool message = Model.Messages.Any();
    }

    @if (message == true){
         @Html.Partial("~/Views/Message/_Index.cshtml", Model.Messages)
    } else{
        return;  
    }